<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial scale=1.0">
	<title></title>
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway:400,600i&display=swap" rel="stylesheet"> 
</head>
<body>


	<div class="center">
		<div class="lyrics">
			<p class="lyrics">{{text}}</p>
		   </div>
		   <button> <a href="/">Generate Another</a></button>
</div>



</body>
</html>